<!doctype html>
<html lang="ja">
  <head>
    <meta http-equv="content-type" charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    {% feed_meta %}
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link href="{{ 'assets/css/styles.css' | relative_url }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="header">
      <a href="/">
        <img src="/img/kuwamai_header.png" alt="kuwamai" width="100%"/>
      </a>
    </div>

    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
